* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
}


ul{
  position: relative;
  display: block ;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: auto;
  line-height: 100px;

}

ul li{
  position: relative;
  list-style: none;
}

ul li a{
  text-decoration: none;
  font-size: 60px;
  position: relative;
  color: #333;
  -webkit-text-stroke: 0.5px rgba(255,255,255,0.5);
}

ul li a::before{
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0;
  overflow: hidden;
  transition: 0.8s;
  border-right: 4px solid var(--clr);
}
ul li a:hover::before{
 width: 100%;
 filter: drop-shadow(0 0 15px var(--clr));
 -webkit-text-stroke: 0.5px var(--clr);
}

